/*--- NavBar ---*/

.navBar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  background-color: #1d202b;
  display: flex;
  align-items: center;
  gap: auto;
  flex-direction: start;
  z-index: 100;
  padding-inline: 10%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navBar h1 {
  font-size: 22px;
  margin-bottom: 0;
}

.navBar h1:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
}

.navBar p {
  font-size: 12px;
  padding: 0rem;
  margin: 0rem;
}

nav p {
  color: white;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;
}

.buttonArea {
  display: flex;
  width: 463px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.logo h1 {
  text-decoration: none;
}

.logo p {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}

.inicio-sesion-sin-login {
  display: flex;
  width: 165px;
  height: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: #1d202b;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  border: none;
  white-space: pre;
  letter-spacing: 0.4px;
}

.inicio-sesion-link {
  text-decoration: none;
}

.boton-inicio-sesion-cerrar {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;
  border-radius: 25px;
  background: #f28705;
  box-shadow: 0px 4px 4px 0px rgba(226, 119, 18, 0.25);
  display: flex;
  width: 160px;
  height: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
}

.boton-inicio-sesion-cerrar-link {
  text-decoration: none;
}

.crearCuenta {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;
  border-radius: 25px;
  background: #f28705;
  box-shadow: 0px 4px 4px 0px rgba(226, 119, 18, 0.25);
  display: flex;
  width: 140px;
  height: 38px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border: none;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 19.2px */
  letter-spacing: -0.48px;
  color: #f28705;
  text-align: center;
  font-family: "Plus Jakarta Sans";
}

.registro-usuario-link {
  text-decoration: none;
}

.boton-editar-cuenta {
  display: flex;
  width: 165px;
  height: 48px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  color: #fff;
  background-color: #1d202b;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.48px;
  border: none;
}

.boton-editar-cuenta-link {
  text-decoration: none;
}

.boton-inicio-sesion-cerrar-link {
  text-decoration: none;
}

.hamburger-button {
  display: none;
}

.nav-user {
  background: rgb(50, 52, 72);
  display: flex;
  flex-direction: row;
  width: auto;
  max-height: 90%;
  border-radius: 1rem;
  padding-right: 1.2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.nav-user:hover {
  background: rgb(62, 64, 90);
  opacity: 1;
}

.nav-user-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e202a;
  border: solid 1.5px white;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  margin: 0.05rem;
  padding: 0.05rem;
}

.nav-user-right {
  padding: 0.5rem;
  padding-right: 0;
}

.nav-user-circle h1 {
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
}

.nav-user-profile {
  color: white;
  margin-bottom: 0.5rem;
  text-align: left;
  max-height: 0.7rem;
  opacity: 0.8;
}

.nav-user-profile p {
  color: white;
  font-size: 0.8rem;
  white-space: nowrap;
}

.nav-user-right button {
  font-size: 0.6rem;
  border: none;
  background-color: #f28705;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  margin: 0.1rem;
  width: 5.8rem;
}

.material-symbols-rounded {
  color: white;
}

.admin-sidebar-buttons:hover {
  background-color: #33344682;
  text-decoration: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 1s ease;
}

.role-profile p {
  color: rgb(207, 207, 207);
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .navBar {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: auto;
    flex-direction: start;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .nav-user {
    width: auto;
  }

  .nav-user-right {
    padding: 1rem;
    display: none;
  }

  .buttonArea {
    display: none;
  }

  .hamburger-button {
    display: block;
    color: white;
  }

  .nav-search-bar {
    display: none;
  }
}
